<%- include('partials/header') %>

<div class="container">
    <% if (baralho) { %>
        <h1><%= baralho.Titulo %></h1>
        <% if (baralho.Imagem) { %>
            <img src="https://<%= BUCKET_NAME %>.s3.amazonaws.com/<%= baralho.Imagem %>" 
                 alt="<%= baralho.Titulo %>" 
                 style="max-width: 300px;">
        <% } %>
        <p><%= baralho.Descricao %></p>
    <% } else { %>
        <p>Baralho não encontrado</p>
    <% } %>
</div>

<%- include('partials/footer') %>