<%- include('partials/header') %>

<main>
  <div class="deck-detail-container">
    
    <!-- Botão de Voltar -->
    <div class="back-button-container">
      <a href="/buscar" class="back-button">← Voltar</a>
    </div>

    <h1 class="deck-title"><%= baralho.Titulo %></h1>

    <div class="card-container" onclick="this.classList.toggle('flipped')">
      <div class="card-inner">
        <!-- FRENTE -->
        <div class="card-front">
          <img 
            src="https://<%= BUCKET_NAME %>.s3.amazonaws.com/<%= baralho.Imagem %>" 
            alt="Imagem do Baralho" 
            class="deck-card-image"
          >
        </div>

        <!-- VERSO -->
        <div class="card-back">
          <p><%= baralho.Descricao %></p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
